.u-center-text {
  text-align: center !important;
}

// margin bottom
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
// margin top
.u-margin-top-8 {
  margin-top: 8rem !important;
}
.u-margin-top-10 {
  margin-top: 10rem !important;
}
