.u-center-text {
  text-align: center;
}
.u-margin-bottom-8 {
  margin-bottom: 8rem;
}
.u-margin-bottom {
  margin-bottom: 3rem;
}
.u-margin-top-8 {
  margin-top: 8rem;
}
.u-margin-top-10 {
  margin-top: 8rem;
}
