.u-center-text {
  text-align: center;
}

// margin bottom
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
// margin top
.u-margin-top-8 {
  margin-top: 8rem;
}
.u-margin-top-10 {
  margin-top: 10rem;
}
